p{
    background-color:aquamarine;
}
a{
    background-color: rgb(44, 142, 227);
}
div{
    background-color: yellow;
}
input{
    background-color: rgb(217, 90, 90);
}
span{
    background-color: rgb(53, 217, 223);
}